#!/usr/bin/env python
PACKAGE = "vive_bridge"

# Constants
M_PI = 3.14159265358979323846       # pi
M_PI_2 = 1.57079632679489661923     # pi/2
M_PI_4 = 0.785398163397448309616    # pi/4

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

vr_offset = gen.add_group("VR offset transform")
vr_offset.add("vr_x_offset",         double_t, 0, "x offset from fixed world frame",       -2.30888681843  ,  -5.0,    5.0)
vr_offset.add("vr_y_offset",         double_t, 0, "y offset from fixed world frame",       -0.827929511819 ,  -5.0,    5.0)
vr_offset.add("vr_z_offset",         double_t, 0, "z offset from fixed world frame",        0.651352886707 ,  -5.0,    5.0)
vr_offset.add("vr_yaw_offset",       double_t, 0, "yaw offset from fixed world frame",     -1.58908745242  , -M_PI,   M_PI)
vr_offset.add("vr_pitch_offset",     double_t, 0, "pitch offset from fixed world frame",   -0.0284765384081, -M_PI,   M_PI)
vr_offset.add("vr_roll_offset",      double_t, 0, "roll offset from fixed world frame",     1.5607018065   , -M_PI,   M_PI)

exit(gen.generate(PACKAGE, "vive_node", "Vive"))