<?xml version="1.0"?>

<launch>
    <rosparam param="/vive_calibrating_node/controller">"controller_LHR_FDBBBBC0"</rosparam>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="static_tracker1_publisher" args="-0.124 0.046 0.025 0.0 -1.57079632679 0.0 camera_house tracker1_desired" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_tracker2_publisher" args="0.124 0.046 0.025 0.0 1.57079632679 0.0 camera_house tracker2_desired" /> -->

    <node name="vive_calibrating_node" pkg="vive_calibrating" type="vive_robot_calibrating_node" output="screen" required="true"/>
</launch>